# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/test_demo
build/Makefile
build/CMakeFiles/test_demo.dir/progress.make
build/CMakeFiles/test_demo.dir/link.txt
build/CMakeFiles/test_demo.dir/flags.make
build/CMakeFiles/test_demo.dir/DependInfo.cmake
build/CMakeFiles/test_demo.dir/depend.make
build/CMakeFiles/test_demo.dir/depend.internal
build/CMakeFiles/test_demo.dir/CXX.includecache
build/CMakeFiles/test_demo.dir/cmake_clean.cmake
build/CMakeFiles/test_demo.dir/build.make
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/progress.marks
build/CMakeFiles/patchmatch.dir/progress.make
build/CMakeFiles/patchmatch.dir/link.txt
build/CMakeFiles/patchmatch.dir/flags.make
build/CMakeFiles/patchmatch.dir/DependInfo.cmake
build/CMakeFiles/patchmatch.dir/depend.make
build/CMakeFiles/patchmatch.dir/depend.internal
build/CMakeFiles/patchmatch.dir/CXX.includecache
build/CMakeFiles/patchmatch.dir/cmake_clean_target.cmake
build/CMakeFiles/patchmatch.dir/cmake_clean.cmake
build/CMakeFiles/patchmatch.dir/build.make
build/CMakeFiles/Makefile2
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
build/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
build/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
build/CMakeFiles/FindOpenMP/ompver_CXX.bin
build/CMakeFiles/FindOpenMP/ompver_C.bin
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
test_data/altitude/ssh-170-alti.txt
test_data/altitude/ssh-171-alti.txt
test_data/altitude/ssh-172-alti.txt
test_data/altitude/ssh-173-alti.txt
test_data/altitude/ssh-174-alti.txt
test_data/annos-older-xml/SSH-0170.xml
test_data/annos-older-xml/SSH-0171.xml
test_data/annos-older-xml/SSH-0172.xml
test_data/annos-older-xml/SSH-0173.xml
test_data/annos-older-xml/SSH-0174.xml
test_data/annos-xml-o/SSH-0170.xml
test_data/annos-xml-o/SSH-0171.xml
test_data/annos-xml-o/SSH-0172.xml
test_data/annos-xml-o/SSH-0173.xml
test_data/annos-xml-o/SSH-0174.xml
test_data/annos-xml/SSH-0170.xml
test_data/annos-xml/SSH-0171.xml
test_data/annos-xml/SSH-0172.xml
test_data/annos-xml/SSH-0173.xml
test_data/annos-xml/SSH-0174.xml
test_data/cereal/SSH-0170-l01s01-20210210-111341.cereal
test_data/cereal/SSH-0171-l02s01-20210210-112129.cereal
test_data/groundrange/ssh-170-gr.txt
test_data/groundrange/ssh-171-gr.txt
test_data/groundrange/ssh-172-gr.txt
test_data/groundrange/ssh-173-gr.txt
test_data/groundrange/ssh-174-gr.txt
test_data/image/ssh-170-img.txt
test_data/image/ssh-171-img.txt
test_data/image/ssh-172-img.txt
test_data/image/ssh-173-img.txt
test_data/image/ssh-174-img.txt
test_data/img-xml-o/ssh-170-img.xml
test_data/img-xml-o/ssh-171-img.xml
test_data/img-xml-o/ssh-172-img.xml
test_data/img-xml-o/ssh-173-img.xml
test_data/img-xml-o/ssh-174-img.xml
test_data/img-xml/ssh-170-img.xml
test_data/img-xml/ssh-171-img.xml
test_data/img-xml/ssh-172-img.xml
test_data/img-xml/ssh-173-img.xml
test_data/img-xml/ssh-174-img.xml
test_data/pose-xml/ssh-170-pose.xml
test_data/pose-xml/ssh-171-pose.xml
test_data/pose-xml/ssh-172-pose.xml
test_data/pose-xml/ssh-173-pose.xml
test_data/pose-xml/ssh-174-pose.xml
test_data/pose/ssh-170-pose.txt
test_data/pose/ssh-171-pose.txt
test_data/pose/ssh-172-pose.txt
test_data/pose/ssh-173-pose.txt
test_data/pose/ssh-174-pose.txt
test_data/ssh-174-img-new.xml
test_data/ssh-174-img-old.xml
annotated_kps.txt
detected_kps.txt
dr_kps.txt
rc_fnl.txt
rc_ini.txt
.vscode/settings.json
build/.cmake/api/v1/query/client-integration-vscode/cache-v2
build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
test_data/annos-xml-latest/SSH-0170.xml
test_data/annos-xml-latest/SSH-0171.xml
test_data/annos-xml-latest/SSH-0172.xml
test_data/annos-xml-latest/SSH-0173.xml
test_data/annos-xml-latest/SSH-0174.xml
test_data/img-xml-latest/ssh-170-img.xml
test_data/img-xml-latest/ssh-171-img.xml
test_data/img-xml-latest/ssh-172-img.xml
test_data/img-xml-latest/ssh-173-img.xml
test_data/img-xml-latest/ssh-174-img.xml
*.xml
dr_poses_all.txt
est_poses_all.txt
